What is the normal body temperature for healthy humans? A random sample of 130 healthy human body temperatures provided by Allen Shoemaker yielded 98.25 degrees and standard deviation 0.73 degrees. 

Give a 99% confidence interval for the average body temperature of healthy people.

In [8]:
import numpy as np
from scipy import stats

In [2]:
sample_mean = 98.25
sample_std = 0.73
sample_size = 130
confidence_level = 0.99

In [3]:
standard_error = sample_std / np.sqrt(sample_size)

In [4]:
z_score = stats.norm.ppf((1 + confidence_level) / 2)

In [5]:
margin_of_error = z_score * standard_error

In [6]:
lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean + margin_of_error

In [7]:
print("99% Confidence Interval for the average body temperature of healthy people:")
print(f"({lower_bound:.3f}, {upper_bound:.3f}) degrees")

99% Confidence Interval for the average body temperature of healthy people:
(98.085, 98.415) degrees

The administrators for a hospital wished to estimate the average number of days required for inpatient treatment of patients between the ages of 25 and 34. A random sample of 500 hospital patients between these ages produced a mean and standard deviation equal to 5.4 and 3.1 days, respectively.


Construct a 95% confidence interval for the mean length of stay for the population of patients from which the sample was drawn.

In [10]:
import scipy.stats as stats

In [11]:
sample_mean = 5.4
sample_std = 3.1
sample_size = 500
confidence_level = 0.95

In [12]:
z_score = stats.norm.ppf((1 + confidence_level) / 2)

In [13]:
standard_error = sample_std / np.sqrt(sample_size)

In [14]:
margin_of_error = z_score * standard_error

In [16]:
lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean + margin_of_error

print("95% Confidence Interval for the mean length of stay:")
print(f"({lower_bound:.4f}, {upper_bound:.4f}) days")

95% Confidence Interval for the mean length of stay:
(5.1283, 5.6717) days

EXERCISE 3. The hourly wages in a particular industry are normally distributed with mean $13.20 and standard deviation $2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an Î± = .01 level test. (Wackerly, Ex.10.18)

CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

In [17]:
population_mean = 13.20
population_std = 2.50
sample_size = 40
sample_mean = 12.20
alpha = 0.01

In [18]:
z = (sample_mean - population_mean) / (population_std / np.sqrt(sample_size))

In [19]:
p_value = stats.norm.cdf(z)

In [22]:
print("Test statistic:", z)
print("p-value:", p_value)

Test statistic: -2.5298221281347035
p-value: 0.005706018193000826

EXERCISE 4.Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

In [8]:
import pandas as pd
import os

current_dir = os.getcwd()

data = pd.read_csv(r"C:\Users\onur\Desktop\Notebooks Cls\07.04.24\soil - Sheet1.csv")

In [14]:
data.describe()

           Soil1      Soil2
count  30.000000  35.000000
mean    1.691800   1.417114
std     0.206903   0.219184
min     1.110000   1.053000
25%     1.572000   1.231000
50%     1.675000   1.379000
75%     1.865250   1.559000
max     2.054000   1.878000

In [11]:
import numpy as np
import scipy.stats as stats

In [65]:
Soil1 = data['Soil1'].tolist()
Soil2 = data['Soil2'].tolist()

#_, p1 = stats.shapiro(Soil1)
#_, p2 = stats.shapiro(Soil2)

In [66]:
cleaned_data = data.dropna()
cleaned_data

    Soil1  Soil2
0   1.442  1.364
1   1.943  1.878
2   1.110  1.337
3   1.912  1.828
4   1.553  1.371
5   1.641  1.428
6   1.499  1.119
7   1.347  1.373
8   1.685  1.589
9   1.578  1.714
10  1.866  1.260
11  1.653  1.492
12  1.665  1.395
13  1.640  1.778
14  1.976  1.611
15  1.754  1.202
16  1.589  1.542
17  1.976  1.094
18  1.863  1.557
19  1.932  1.053
20  1.570  1.183
21  1.613  1.367
22  2.054  1.144
23  1.550  1.151
24  1.714  1.561
25  1.896  1.192
26  1.737  1.489
27  1.740  1.379
28  1.708  1.501
29  1.548  1.277

In [68]:
statistic, p_value = stats.ttest_ind(Soil1, Soil2)

In [64]:
print("Test Results:")
print("Statistic:", statistic)
print("p-value:", p_value)

Test Results:
Statistic: nan
p-value: nan

XERCISE 5. The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.  2015 PISA Test Dataset

Get descriptive statistics (the central tendency, dispersion and shape of a datasetâs distribution) for each continent group (AS, EU, AF, NA, SA, OC).
Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.
CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

In [73]:
data_w = pd.read_csv(r"C:\Users\onur\Desktop\Notebooks Cls\07.04.24\2015 PISA Test - Sheet1.csv")

In [74]:
data_w

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375
...,...,...,...,...,...,...
65,TUN,AF,48.519836,366.8180,361.0555,386.4034
66,TUR,EU,53.744979,420.4540,428.3351,425.4895
67,URY,SA,64.600000,417.9919,436.5721,435.3630
68,USA,NaN,74.554202,469.6285,496.9351,496.2424
69,VNM,AS,43.500000,494.5183,486.7738,524.6445

In [77]:
continent_groups = {
    "AS": data[data["Continent_Code"] == "AS"],
    "EU": data[data["Continent_Code"] == "EU"],
    "AF": data[data["Continent_Code"] == "AF"],
    "NA": data[data["Continent_Code"] == "NA"],
    "SA": data[data["Continent_Code"] == "SA"],
    "OC": data[data["Continent_Code"] == "OC"]}

In [79]:
for continent, scores in continent_groups.items():
    print(f"\nDescriptive statistics for {continent_groups} Continent:")
    print(scores.describe())

Descriptive statistics for {'AS':    Country Code Continent_Code  internet_users_per_100      Math   Reading  \
1           ARE             AS               90.500000  427.4827  433.5423
11          CHN             AS               50.300000  531.2961  493.9412
25          GEO             AS               47.569760  403.8332  401.2881
27          HKG             AS               84.948353  547.9310  526.6753
30          IDN             AS               21.976068  386.1096  397.2595
33          ISR             AS               77.352090  469.6695  478.9606
35          JOR             AS               60.114383  380.2590  408.1022
36          JPN             AS               91.058028  532.4399  515.9585
37          KAZ             AS               72.900000  459.8160  427.1410
38          KOR             AS               89.648631  524.1062  517.4367
39          LBN             AS               74.000000  396.2497  346.5490
43          MAC             AS               77.600132  543.8078  508.6905
49          MYS             AS               71.064068  446.1098  430.5782
56          QAT             AS               92.884826  402.4007  401.8874
59          SGP             AS               79.012957  564.1897  535.1002
63          THA             AS               39.316127  415.4638  409.1301
69          VNM             AS               43.500000  494.5183  486.7738

     Science
1   436.7311
11  517.7793
25  411.1315
27  523.2774
30  403.0997
33  466.5528
35  408.6691
36  538.3948
37  456.4836
38  515.8099
39  386.4854
43  528.5496
49  442.9475
56  417.6112
59  555.5747
63  421.3373
69  524.6445  , 'EU':    Country Code Continent_Code  internet_users_per_100      Math   Reading  \
0           ALB             EU               63.252933  413.1570  405.2588
4           AUT             EU               83.940142  496.7423  484.8656
5           BEL             EU               85.052900  506.9844  498.5242
6           BGR             EU               56.656300  441.1899  431.7175
9           CHE             EU               87.479056  521.2506  492.1982
14          CYP             EU               71.715900  437.1443  442.8443
15          CZE             EU               75.668839  492.3254  487.2501
16          DEU             EU               87.589800  505.9713  509.1041
17          DNK             EU               96.330500  511.0876  499.8146
20          ESP             EU               78.689600  485.8432  495.5764
21          EST             EU               88.411812  519.5291  519.1429
22          FIN             EU               86.422133  511.0769  526.4247
23          FRA             EU               84.694500  492.9204  499.3061
24          GBR             EU               92.000300  492.4785  497.9719
26          GRC             EU               66.835000  453.6299  467.0395
28          HRV             EU               69.803100  464.0401  486.8632
29          HUN             EU               72.834700  476.8309  469.5233
31          IRL             EU               80.122400  503.7220  520.8148
32          ISL             EU               98.200000  488.0332  481.5255
34          ITA             EU               58.141735  489.7287  484.7580
40          LTU             EU               71.378000  478.3834  472.4066
41          LUX             EU               97.334100  485.7706  481.4391
42          LVA             EU               79.200600  482.3051  487.7581
44          MDA             EU               63.306625  419.6635  416.2293
46          MKD             EU               70.380200  371.3114  351.7415
47          MLT             EU               76.184000  478.6448  446.6661
48          MNE             EU               68.119581  417.9341  426.8845
50          NLD             EU               91.724138  512.2528  502.9591
51          NOR             EU               96.810300  501.7298  513.1912
54          POL             EU               67.997000  504.4693  505.6971
55          PRT             EU               68.632900  491.6270  498.1289
57          ROU             EU               55.763200  443.9543  433.6166
58          RUS             EU               73.410000  494.0600  494.6278
60          SVK             EU               77.634700  475.2301  452.5143
61          SVN             EU               73.098700  509.9196  505.2159
62          SWE             EU               90.610200  493.9181  500.1556
66          TUR             EU               53.744979  420.4540  428.3351

     Science
0   427.2250
4   495.0375
5   501.9997
6   445.7720
9   505.5058
14  432.5964
15  492.8300
16  509.1406
17  501.9369
20  492.7861
21  534.1937
22  530.6612
23  494.9776
24  509.2215
26  454.8288
28  475.3912
29  476.7475
31  502.5751
32  473.2301
34  480.5468
40  475.4089
41  482.8064
42  490.2250
44  427.9978
46  383.6824
47  464.7819
48  411.3136
50  508.5748
51  498.4811
54  501.4353
55  501.1001
57  434.8849
58  486.6310
60  460.7749
61  512.8636
62  493.4224
66  425.4895  , 'AF':    Country Code Continent_Code  internet_users_per_100      Math   Reading  \
19          DZA             AF               38.200000  359.6062  349.8593
65          TUN             AF               48.519836  366.8180  361.0555

     Science
19  375.7451
65  386.4034  , 'NA': Empty DataFrame
Columns: [Country Code, Continent_Code, internet_users_per_100, Math, Reading, Science]
Index: [], 'SA':    Country Code Continent_Code  internet_users_per_100      Math   Reading  \
2           ARG             SA               68.043064  409.0333  425.3031
7           BRA             SA               58.327952  377.0695  407.3486
10          CHL             SA               64.289000  422.6714  458.5709
12          COL             SA               55.904973  389.6438  424.9052
53          PER             SA               40.900000  386.5606  397.5414
64          TTO             SA               69.198471  417.2434  427.2733
67          URY             SA               64.600000  417.9919  436.5721

     Science
2   432.2262
7   400.6821
10  446.9561
12  415.7288
53  396.6836
64  424.5905
67  435.3630  , 'OC':    Country Code Continent_Code  internet_users_per_100      Math   Reading  \
3           AUS             OC               84.560519  493.8962  502.9006
52          NZL             OC               88.222889  495.2233  509.2707

     Science
3   509.9939
52  513.3035  } Continent:
       internet_users_per_100        Math     Reading     Science
count               17.000000   17.000000   17.000000   17.000000
mean                68.455613  466.216647  454.059682  467.945847
std                 21.086060   64.356490   57.048962   56.671371
min                 21.976068  380.259000  346.549000  386.485400
25%                 50.300000  403.833200  408.102200  417.611200
50%                 74.000000  459.816000  433.542300  456.483600
75%                 84.948353  531.296100  508.690500  523.277400
max                 92.884826  564.189700  535.100200  555.574700

Descriptive statistics for {'AS':    Country Code Continent_Code  internet_users_per_100      Math   Reading  \
1           ARE             AS               90.500000  427.4827  433.5423
11          CHN             AS               50.300000  531.2961  493.9412
25          GEO             AS               47.569760  403.8332  401.2881
27          HKG             AS               84.948353  547.9310  526.6753
30          IDN             AS               21.976068  386.1096  397.2595
33          ISR             AS               77.352090  469.6695  478.9606
35          JOR             AS               60.114383  380.2590  408.1022
36          JPN             AS               91.058028  532.4399  515.9585
37          KAZ             AS               72.900000  459.8160  427.1410
38          KOR             AS               89.648631  524.1062  517.4367
39          LBN             AS               74.000000  396.2497  346.5490
43          MAC             AS               77.600132  543.8078  508.6905
49          MYS             AS               71.064068  446.1098  430.5782
56          QAT             AS               92.884826  402.4007  401.8874
59          SGP             AS               79.012957  564.1897  535.1002
63          THA             AS               39.316127  415.4638  409.1301
69          VNM             AS               43.500000  494.5183  486.7738

     Science
1   436.7311
11  517.7793
25  411.1315
27  523.2774
30  403.0997
33  466.5528
35  408.6691
36  538.3948
37  456.4836
38  515.8099
39  386.4854
43  528.5496
49  442.9475
56  417.6112
59  555.5747
63  421.3373
69  524.6445  , 'EU':    Country Code Continent_Code  internet_users_per_100      Math   Reading  \
0           ALB             EU               63.252933  413.1570  405.2588
4           AUT             EU               83.940142  496.7423  484.8656
5           BEL             EU               85.052900  506.9844  498.5242
6           BGR             EU               56.656300  441.1899  431.7175
9           CHE             EU               87.479056  521.2506  492.1982
14          CYP             EU               71.715900  437.1443  442.8443
15          CZE             EU               75.668839  492.3254  487.2501
16          DEU             EU               87.589800  505.9713  509.1041
17          DNK             EU               96.330500  511.0876  499.8146
20          ESP             EU               78.689600  485.8432  495.5764
21          EST             EU               88.411812  519.5291  519.1429
22          FIN             EU               86.422133  511.0769  526.4247
23          FRA             EU               84.694500  492.9204  499.3061
24          GBR             EU               92.000300  492.4785  497.9719
26          GRC             EU               66.835000  453.6299  467.0395
28          HRV             EU               69.803100  464.0401  486.8632
29          HUN             EU               72.834700  476.8309  469.5233
31          IRL             EU               80.122400  503.7220  520.8148
32          ISL             EU               98.200000  488.0332  481.5255
34          ITA             EU               58.141735  489.7287  484.7580
40          LTU             EU               71.378000  478.3834  472.4066
41          LUX             EU               97.334100  485.7706  481.4391
42          LVA             EU               79.200600  482.3051  487.7581
44          MDA             EU               63.306625  419.6635  416.2293
46          MKD             EU               70.380200  371.3114  351.7415
47          MLT             EU               76.184000  478.6448  446.6661
48          MNE             EU               68.119581  417.9341  426.8845
50          NLD             EU               91.724138  512.2528  502.9591
51          NOR             EU               96.810300  501.7298  513.1912
54          POL             EU               67.997000  504.4693  505.6971
55          PRT             EU               68.632900  491.6270  498.1289
57          ROU             EU               55.763200  443.9543  433.6166
58          RUS             EU               73.410000  494.0600  494.6278
60          SVK             EU               77.634700  475.2301  452.5143
61          SVN             EU               73.098700  509.9196  505.2159
62          SWE             EU               90.610200  493.9181  500.1556
66          TUR             EU               53.744979  420.4540  428.3351

     Science
0   427.2250
4   495.0375
5   501.9997
6   445.7720
9   505.5058
14  432.5964
15  492.8300
16  509.1406
17  501.9369
20  492.7861
21  534.1937
22  530.6612
23  494.9776
24  509.2215
26  454.8288
28  475.3912
29  476.7475
31  502.5751
32  473.2301
34  480.5468
40  475.4089
41  482.8064
42  490.2250
44  427.9978
46  383.6824
47  464.7819
48  411.3136
50  508.5748
51  498.4811
54  501.4353
55  501.1001
57  434.8849
58  486.6310
60  460.7749
61  512.8636
62  493.4224
66  425.4895  , 'AF':    Country Code Continent_Code  internet_users_per_100      Math   Reading  \
19          DZA             AF               38.200000  359.6062  349.8593
65          TUN             AF               48.519836  366.8180  361.0555

     Science
19  375.7451
65  386.4034  , 'NA': Empty DataFrame
Columns: [Country Code, Continent_Code, internet_users_per_100, Math, Reading, Science]
Index: [], 'SA':    Country Code Continent_Code  internet_users_per_100      Math   Reading  \
2           ARG             SA               68.043064  409.0333  425.3031
7           BRA             SA               58.327952  377.0695  407.3486
10          CHL             SA               64.289000  422.6714  458.5709
12          COL             SA               55.904973  389.6438  424.9052
53          PER             SA               40.900000  386.5606  397.5414
64          TTO             SA               69.198471  417.2434  427.2733
67          URY             SA               64.600000  417.9919  436.5721

     Science
2   432.2262
7   400.6821
10  446.9561
12  415.7288
53  396.6836
64  424.5905
67  435.3630  , 'OC':    Country Code Continent_Code  internet_users_per_100      Math   Reading  \
3           AUS             OC               84.560519  493.8962  502.9006
52          NZL             OC               88.222889  495.2233  509.2707

     Science
3   509.9939
52  513.3035  } Continent:
       internet_users_per_100        Math     Reading     Science
count               37.000000   37.000000   37.000000   37.000000
mean                77.274888  477.981449  476.164608  478.299381
std                 12.425773   35.150403   37.720545   34.450616
min                 53.744979  371.311400  351.741500  383.682400
25%                 68.632900  464.040100  452.514300  460.774900
50%                 76.184000  489.728700  487.250100  490.225000
75%                 87.479056  503.722000  499.814600  501.936900
max                 98.200000  521.250600  526.424700  534.193700

Descriptive statistics for {'AS':    Country Code Continent_Code  internet_users_per_100      Math   Reading  \
1           ARE             AS               90.500000  427.4827  433.5423
11          CHN             AS               50.300000  531.2961  493.9412
25          GEO             AS               47.569760  403.8332  401.2881
27          HKG             AS               84.948353  547.9310  526.6753
30          IDN             AS               21.976068  386.1096  397.2595
33          ISR             AS               77.352090  469.6695  478.9606
35          JOR             AS               60.114383  380.2590  408.1022
36          JPN             AS               91.058028  532.4399  515.9585
37          KAZ             AS               72.900000  459.8160  427.1410
38          KOR             AS               89.648631  524.1062  517.4367
39          LBN             AS               74.000000  396.2497  346.5490
43          MAC             AS               77.600132  543.8078  508.6905
49          MYS             AS               71.064068  446.1098  430.5782
56          QAT             AS               92.884826  402.4007  401.8874
59          SGP             AS               79.012957  564.1897  535.1002
63          THA             AS               39.316127  415.4638  409.1301
69          VNM             AS               43.500000  494.5183  486.7738

     Science
1   436.7311
11  517.7793
25  411.1315
27  523.2774
30  403.0997
33  466.5528
35  408.6691
36  538.3948
37  456.4836
38  515.8099
39  386.4854
43  528.5496
49  442.9475
56  417.6112
59  555.5747
63  421.3373
69  524.6445  , 'EU':    Country Code Continent_Code  internet_users_per_100      Math   Reading  \
0           ALB             EU               63.252933  413.1570  405.2588
4           AUT             EU               83.940142  496.7423  484.8656
5           BEL             EU               85.052900  506.9844  498.5242
6           BGR             EU               56.656300  441.1899  431.7175
9           CHE             EU               87.479056  521.2506  492.1982
14          CYP             EU               71.715900  437.1443  442.8443
15          CZE             EU               75.668839  492.3254  487.2501
16          DEU             EU               87.589800  505.9713  509.1041
17          DNK             EU               96.330500  511.0876  499.8146
20          ESP             EU               78.689600  485.8432  495.5764
21          EST             EU               88.411812  519.5291  519.1429
22          FIN             EU               86.422133  511.0769  526.4247
23          FRA             EU               84.694500  492.9204  499.3061
24          GBR             EU               92.000300  492.4785  497.9719
26          GRC             EU               66.835000  453.6299  467.0395
28          HRV             EU               69.803100  464.0401  486.8632
29          HUN             EU               72.834700  476.8309  469.5233
31          IRL             EU               80.122400  503.7220  520.8148
32          ISL             EU               98.200000  488.0332  481.5255
34          ITA             EU               58.141735  489.7287  484.7580
40          LTU             EU               71.378000  478.3834  472.4066
41          LUX             EU               97.334100  485.7706  481.4391
42          LVA             EU               79.200600  482.3051  487.7581
44          MDA             EU               63.306625  419.6635  416.2293
46          MKD             EU               70.380200  371.3114  351.7415
47          MLT             EU               76.184000  478.6448  446.6661
48          MNE             EU               68.119581  417.9341  426.8845
50          NLD             EU               91.724138  512.2528  502.9591
51          NOR             EU               96.810300  501.7298  513.1912
54          POL             EU               67.997000  504.4693  505.6971
55          PRT             EU               68.632900  491.6270  498.1289
57          ROU             EU               55.763200  443.9543  433.6166
58          RUS             EU               73.410000  494.0600  494.6278
60          SVK             EU               77.634700  475.2301  452.5143
61          SVN             EU               73.098700  509.9196  505.2159
62          SWE             EU               90.610200  493.9181  500.1556
66          TUR             EU               53.744979  420.4540  428.3351

     Science
0   427.2250
4   495.0375
5   501.9997
6   445.7720
9   505.5058
14  432.5964
15  492.8300
16  509.1406
17  501.9369
20  492.7861
21  534.1937
22  530.6612
23  494.9776
24  509.2215
26  454.8288
28  475.3912
29  476.7475
31  502.5751
32  473.2301
34  480.5468
40  475.4089
41  482.8064
42  490.2250
44  427.9978
46  383.6824
47  464.7819
48  411.3136
50  508.5748
51  498.4811
54  501.4353
55  501.1001
57  434.8849
58  486.6310
60  460.7749
61  512.8636
62  493.4224
66  425.4895  , 'AF':    Country Code Continent_Code  internet_users_per_100      Math   Reading  \
19          DZA             AF               38.200000  359.6062  349.8593
65          TUN             AF               48.519836  366.8180  361.0555

     Science
19  375.7451
65  386.4034  , 'NA': Empty DataFrame
Columns: [Country Code, Continent_Code, internet_users_per_100, Math, Reading, Science]
Index: [], 'SA':    Country Code Continent_Code  internet_users_per_100      Math   Reading  \
2           ARG             SA               68.043064  409.0333  425.3031
7           BRA             SA               58.327952  377.0695  407.3486
10          CHL             SA               64.289000  422.6714  458.5709
12          COL             SA               55.904973  389.6438  424.9052
53          PER             SA               40.900000  386.5606  397.5414
64          TTO             SA               69.198471  417.2434  427.2733
67          URY             SA               64.600000  417.9919  436.5721

     Science
2   432.2262
7   400.6821

In [80]:
math_scores_eu = data[data["Continent_Code"] == "EU"]["Math"]
math_scores_as = data[data["Continent_Code"] == "AS"]["Math"]

In [81]:
statistic, p_value = stats.ttest_ind(math_scores_eu, math_scores_as)

In [82]:
print("Test Results:")
print("Statistic:", statistic)
print("p-value:", p_value)

Test Results:
Statistic: 0.870055317967983
p-value: 0.38826888111307345